@use 'shared' as shared;
@use 'reset';

body {
  margin: 20px;
  background-color: shared.$white-color;
}

.header {
  background: linear-gradient(to right, shared.$secondary-color, shared.$main-color);
  color: shared.$white-color;
  padding: 10px 15px;
  display: flex;
  align-items: center;

  &__title {
    margin: 0;
    font-size: 2.2em;
    font-weight: 600;
    flex-grow: 1;

    @media (max-width: 770px) {
      font-size: 1.8em;
      font-weight: 400;
    }
  }
}

.nav {
  margin-top: 10px;

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    @include shared.nav-item;
  }

  &__link {
    @include shared.link-styles();
  }
}

.banner {
  color: shared.$white-color;
  text-align: center;
  position: relative;
  margin-top: 10px;

  @include shared.banner-background();

  &__content {
    position: absolute;
    width: inherit;
    top: 50%;
    left: 50%;
    height: 220px;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #b2c1b3, shared.$main-color, #b2c1b3);
    opacity: 0.8;

    @include shared.text-styles();

    &__title {
      font-size: 2em;
      font-weight: bold;
      z-index: 10;
    }

    &__subtitle {
      font-size: 1.4em;
      margin: 10px 0;
    }
  }

  &__button {
    margin-top: 15px;
  }

  &__link {
    @include shared.button-styles();
  }

}

.section {
  &__wrapper {
    @include shared.section-wrapper();

    @media (max-width: 770px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    @include shared.title-styles();
  }

  &__content {
    margin: 0;
  }

  &__image {
    @include shared.image-styles();
  }

  &__main,
  &__features,
  &__tutorials,
  &__history,
  &__recommendations {
    @include shared.flex-container();
  }

  &__features {
    @include shared.flex-container(column);
  }

  &__history {
    @include shared.gradient-background();
    border-radius: 8px;
  }

  &__recommendations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include shared.gradient-background(#d9ecdb, #c9eed9);
    border-radius: 8px;
  }

  &__features_items {
    margin-bottom: 8px;
    list-style: none;
  }

  &__contacto {
    @include shared.section-contact();
    margin-top: 30px;
    color: shared.$white-color;
  }
}

.aside {
  @include shared.aside-styles();
  
  &__title {
    @include shared.title-styles();
  }

  &__list {
    @include shared.list-styles();
  }

  &__item {
    margin: 8px 0;
  }

  &__container {
    @include shared.aside-container-styles();
  }
}

.form {
  margin-top: 20px;

  &__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: shared.$white-color;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: shared.$main-color;
      outline: none;
    }
  }

  &__button {
    background-color: #b1dab3a9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }
}

.footer {
  text-align: center;
  margin-top: 20px;

  &__text {
    font-size: 0.9em;
  }
}